<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ILDASM_EXE_PATH" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v8.0A\bin\NETFX 4.0 Tools\ildasm.exe"/>
    <add key="ILASM_EXE_PATH_NET20" value="C:\Windows\Microsoft.NET\Framework\v2.0.50727\ilasm.exe"/>
    <add key="ILASM_EXE_PATH_NET40" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\ilasm.exe"/>
  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogName}"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{ISO8601}&#009;%-5level&#009;%logger&#009;%message%newline" />-->
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <!-- Appender layout fix to view in console-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--
            Log level priority in descending order:
            
            FATAL = 1 show  log -> FATAL 
            ERROR = 2 show  log -> FATAL ERROR 
            WARN =  3 show  log -> FATAL ERROR WARN 
            INFO =  4 show  log -> FATAL ERROR WARN INFO 
            DEBUG = 5 show  log -> FATAL ERROR WARN INFO DEBUG
            -->
      <level value="DEBUG"/>
      <!--To write log in file -->
      <appender-ref ref="FileAppender"/>
      <!--To view log in console -->
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
